
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.mammalista{
    list-style-type: none;
    background-color: none;

}

.mamma {
    border-top: 40px;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}

.logga {
    width: 150px;
}
 body {
    background-image: url(../images/running.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: absolute; top: 0;, left: 0;
    background-color: #FFDEAD;
    background width: 100%;
}
h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
h1:hover, a:hover {
    background-color: yellow;
}

a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

img .karta, .fb, .partner {
    max-height: 500px;
}

p, h1, h2, h3, h4, h5, li, td, th {
    font-family: Helvetica;
}
h1 {
    font-size: 40px;
    font-weight: bold;
}
h2 {
    font-size: 30px;
    font-weight: bold;
}
h3 {
    font-size: 20px;
    font-weight: bold;
}
h4 {
    font-size: 20px;
    font-weight: bold;
}
p {
    font-size: 10px;
}
nav {
    display: block;
}
.boka {
    margin-right: 10px;
}
.produktruta{
    width: 150px;
    height: 70px;
    background-color: #000000;
    text-align: center; 
    float: left;
    margin: 10px;
    } 
th {
    font-size: 30px;
}
td {
    font-size: 10px;
}
.fragor{

    margin-left: 20px;
}
p {
    font-size: 20px;
}