ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}

.logga {
    width: 100px;
}
 body {
    background-image: url(../images/ljusrunning.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fixed;
    background-color: lightyellow;
 }

 h1, h2, h3 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h1:hoover {
color: yellow;
}

