.logga {
    width: 50px;
}
body {
    background-color: lightyellow;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
}
li {
        display:inline;
        float: left;
    }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
background-color:#4CAF50;
}
 a:link, a:visited {
    background-color: #lightblue;
    color: white;
    padding: 10px 35px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

