.produktruta {
	width: 150px;
	background-color: lightblue;
	text-align: center; 
	float: left;
	margin: 10px;
	} 
article {
	width:1000px;
	background-color: gray;
	margin: 10px;
	}
	h1{
	color: red;
	}
	h2{
	color: gray;
	}

.varannanrad{
	background-color: yellow;
}
table
{
	border: solid;
	border color: 1px red;
}

